<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <div class="center">
    <title>Gemma Ernst</title>
    <link href="https://fonts.googleapis.com/css?family=IM+Fell+French+Canon" rel="stylesheet">

    <link rel="stylesheet" href="/css/gridlex.css">
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>

    <!-- BANNER -->
    <section class="banner b4 header">
      <div class="">

    <h1> Gemma Ernst </h1>
    <h3> I help creatives get their business up and running in the digital world.
      You are exactly where you need to be.</h3>


    </div>
  </section>

  {{content}}

<!--FOOTER-->
      <footer class="b3">
        <form method="POST" action="https://formspree.io/gemmaernst@outlook.com">
            <input type="text" name="name" placeholder="Name">
            <input type="email" name="email" placeholder="Email address">
            <textarea name="message" placeholder="Share your thoughts!"></textarea>
            <button type="submit">Send away</button>
</form>


  </body>
